extends layout

block content
  body(data-page="add-question")
    form#question-form
      label(for="question-data") Enter Question as JavaScript Object
      textarea#question-data(rows="10" style="width: 100%")
      button(type="submit" class="button button-primary") Submit Question
    p#status-message
block additional-scripts
  script(src="/js/bundle.js", defer)