doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="/css/screen.css")
    block scripts
  body
    .container
      .row
        .column.column-60.column-offset-20
          h1.text-center PotterQuest Quiz
          block content  // Each page will insert its unique content here

    block additional-scripts
      script(src="/js/bundle.js", defer)  // Load the Webpack bundle
