extends layout

block content
  body(data-page="show-question")
    div#question-container
    div#choices-container
    div.buttons
      button#submit-answer.button.button-primary(disabled="disabled") Submit Answer
      button#next-question.button(disabled="disabled") Next Question
    p#result

block additional-scripts
  script(src="/js/bundle.js", defer)